<html>
  <body>
    <h1>Substract Autograder</h1>
    <p>Check whether your Python subtraction program works properly.</p>
    <h2>Requirements</h2>
    <p>The Python program must be called "subtract.py", which asks for two separate inputs (numbers N1 and N2) and prints the value of (N1 - N2). Please do not print anything after the value.</p>
    <h2>Upload</h2>
    <p>Upload your "subtract.py" file here then submit to run the autograder.</p>
    <form action = "/uploader" method = "POST"
	  enctype = "multipart/form-data">
      <input type = "file" name = "file" />
      <input type = "submit"/>
    </form>
  </body>
</html>
